// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown.hidden {
  display: none;
}

#gear-dropdown-btn {
  position: relative;
}

.gear-dropdown {
  display: flex;
  width: 247px;
  flex-direction: column;
  position: absolute;
  top: 36px;
  right: 8px;
  border: 1px solid $light-gray;
  background-color: white;
  z-index: 1;
  // padding: 8px 10px 8px 10px;
  padding: 12px 10px;
  border-radius: 3px;
  // box-shadow: $light-gray -2px 2px 6px 0px; // This is not 100% correct. Mockup has a bottom shadow that is smaller than the actual dropdown menu.
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09)
}

#gear-dropdown span {
  display: flex;
  font-weight: 900;
  font-size: .74em;
  color: $dark-gray;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px;
}

.gear-dropdown ul > li {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0px;
}

.gear-dropdown .editions {
  text-transform: uppercase;  
  border-bottom: 1px solid $light-gray;
}

.gear-dropdown .editions li {
  color: $gray;
  // padding: 5px;
  // display: flex;
  // align-items: center;
}

.gear-dropdown .editions li:hover {
  color: black;
  background-color: $light-gray;
  border-radius: 3px;
}

.gear-dropdown .help li {
  color: $blue;
  // padding: 5px;
  // display: flex;
  // align-items: center;
}

.gear-dropdown .help li:hover {
  text-decoration: underline;
}
